@import "/src/styles/vars";

.box {
  display: flex;
  flex-direction: column;
  gap: calc($size * 0.5);
}

.title {
  font-size: $size;
  font-weight: bold;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: calc($size * 0.5);
}

.item {
  display: flex;
  align-items: center;
  gap: calc($size * 0.5);
}

.select__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc($size * 0.5);
  padding: calc($size * 0.5);
  background-color: rgba($bgHeader, 0.2);
  border-radius: calc($size * 0.2);
}

.select {
  display: flex;
  gap: calc($size * 0.5);
}

.option {
  padding: calc($size * 0.5);
  border-radius: calc($size * 0.2);
  background-color: $bgMain;

  &:hover {
    opacity: 0.6;
    box-shadow: 0 0 3px rgba(#eee, 0.3);
  }

  &__active {
    padding: calc($size * 0.5);
    border-radius: calc($size * 0.2);
    background-color: $bgMain;
    opacity: 1;
  }
}

.balance {
  align-self: flex-start;
}

.value {
  color: #eee;
  font-weight: bold;
}

.costs {
  color: rgb(248 85 85);
  font-size: calc($size * 0.7);
}
