@import "/src/styles/vars";

.box {
  display: flex;
  flex-direction: column;
  gap: calc($size * 0.5);
}

.list {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: calc($size * 0.5);
  padding: calc($size * 0.5);
  border-radius: calc($size * 0.2);
  background-color: rgba($bgHeader, 0.1);
}

.title {
  // align-self: center;
  font-weight: bold;
  opacity: 0.7;
  margin-left: calc($size * 0.5);
}
