@import "/src/styles/vars";

.item {
  padding: $size;
  border-radius: calc($size * 0.4);
  background-color: rgba($bgMain, 0.05);
  display: flex;
  gap: $size;
  justify-content: space-between;
  max-height: calc($size * 22);
}

@media (max-width: 920px) {
  .item {
    flex-direction: column;
    max-height: none;
  }
}

@media (max-width: 480px) {
  .item {
    padding: calc($size / 2);
    background-color: unset;
  }
}
