// Цветовая палитра
:root {
  --size: 1.7vw;
}

$bgMain: #56808d;
$bgHeader: #521d4b;
$colorMain: #eee;

// Резиновая верстка
$size: var(--size);

// Скругления
$borderRad: 10px;

@media (min-width: 1920px) {
  :root {
    --size: 32.64px;
  }
}

@media (max-width: 1600px) {
  :root {
    --size: 1.8vw;
  }
}

@media (max-width: 1320px) {
  :root {
    --size: 2.4vw;
  }
}

@media (max-width: 1080px) {
  :root {
    --size: 2.8vw;
  }
}

@media (max-width: 920px) {
  :root {
    --size: 3.2vw;
  }
}

@media (max-width: 800px) {
  :root {
    --size: 4vw;
  }
}

@media (max-width: 680px) {
  :root {
    --size: 5vw;
  }
}

@media (max-width: 560px) {
  :root {
    --size: 5.5vw;
  }
}

@media (max-width: 480px) {
  :root {
    --size: 7vw;
  }
}
