@import "/src/styles/vars";

.exchange {
  display: flex;
  align-items: center;
  gap: calc($size * 0.3);
  // font-size: calc($size * 0.7);
  min-width: calc($size * 15);
}

.form {
  display: flex;
  gap: calc($size * 0.5);
  align-items: center;
}

.label {
}

.input {
  display: block;
  flex-basis: 150%;

  &:invalid {
    background-color: lightcoral;
  }
}

.accept:disabled {
  opacity: 0.1;
}
