@import "./../../../../styles/vars";

.money-transfer {
  &__form {
    display: flex;
    gap: calc($size * 0.5);
    align-items: center;
  }

  &__input {
    display: block;
    flex-basis: 100%;

    &:invalid {
      background-color: lightcoral;
    }
  }

  &__accept:disabled {
    opacity: 0.1;
  }
}
