@import "/src/styles/vars";

.box {
  display: flex;
  flex-direction: column;
  gap: calc($size * 0.5);
}

.list {
  padding: calc($size * 0.5);
  border-radius: calc($size * 0.2);
  background-color: rgba($bgMain, 0.3);
  display: flex;
  flex-direction: column;
  gap: calc($size * 0.5);
  max-height: calc($size * 7.6);
  overflow-y: auto;
  font-size: calc($size * 0.7);

  &::-webkit-scrollbar {
    background-color: rgba($bgMain, 0.5);
    width: calc($size * 0.3);
    border-radius: calc($size * 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($bgHeader, 0.5);
    border-radius: calc($size * 0.2);
  }
}

.title {
  font-weight: bold;
  opacity: 0.2;
  color: #eee;
}

.null {
  font-weight: bold;
  font-size: calc($size * 0.8);
  opacity: 0.2;
}

.item {
  padding: calc($size * 0.5);
  border-radius: calc($size * 0.2);
  background-color: rgba($bgHeader, 0.3);
  box-shadow: 0 0 10px rgba($bgHeader, 0.3);
  transition: box-shadow 0.3s;
  cursor: pointer;
  color: #eee;

  &:hover {
    box-shadow: 0 0 10px rgba(#eee, 0.3);
  }
}

.item__line {
  display: flex;
  align-items: center;
  gap: calc($size * 0.25);
}

.property {
  opacity: 0.3;
}

.value {
  display: inline-block;
  max-width: calc($size * 10);
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0.9;
  font-weight: bold;
}

@media (max-width: 480px) {
  .inner {
    overflow-x: auto;

    &::-webkit-scrollbar {
      background-color: rgba($bgMain, 0.5);
      width: calc($size * 0.25);
      height: calc($size * 0.25);
      border-radius: calc($size * 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($bgHeader, 0.3);
      border-radius: calc($size * 0.2);
    }

    margin-bottom: calc($size * 0.5);
  }
  .list {
    overflow-x: hidden;
  }

  .box {
    gap: calc($size * 0.5);
  }
}
