@import "./../../styles/vars";

.header {
  font-size: calc($size);
  padding: calc($size) 5vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($bgMain, 0.1);
}

.title {
  display: flex;
  gap: calc($size * 0.5);
  transform: translate(-200%);
  animation: animation 1s forwards;
}

.logo {
  animation: logoAnim 4s 0s infinite ease-in-out;

  &__s {
    text-shadow: 0 0 32px rgb(216, 197, 24), 0 0 64px rgb(230, 196, 45),
      0 0 8px rgb(255, 241, 46);
  }
}

.status {
  font-size: calc($size / 2);
  opacity: 0.3;
}

.options {
  position: relative;

  &__title {
    cursor: pointer;
    transition: text-shadow 0.5s, color 2s;
    transform: translate(200%);
    animation: animation 1s forwards;
    display: flex;
    gap: calc($size / 4);
    align-items: center;
  }

  &:hover {
    text-shadow: 0 0 $size rgb(15, 207, 218), 0 0 $size #eee;
  }

  &:hover svg {
    transform: rotate(90deg);
    filter: drop-shadow(0 0 10px rgb(218, 137, 15));
  }

  svg {
    width: calc($size * 0.75);
    height: calc($size * 0.75);
    transition: transform 0.5s, filter 0.5s;
  }

  circle {
    fill: transparent;
  }

  path {
    fill: $colorMain;
  }

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: calc($size * 0.5);
    content: "";
    padding: calc($size / 2);
    background-color: rgb(221, 221, 221);
    font-size: calc($size * 0.6);
    border-radius: calc($size * 0.2);
    color: rgb(46, 46, 46);
    z-index: 10;
    top: 0;
    right: 0;
    transform: translateY(calc($size * 1.25));
  }
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.option {
  display: flex;
  align-items: center;
  gap: calc($size * 0.25);
}

.language {
  display: flex;
  border-radius: calc($size * 0.25);
  background-color: rgba(#eee, 0.75);
  font-size: calc($size * 0.5);
  overflow: hidden;
  position: relative;
  color: rgb(65, 65, 65);
  padding: 0;

  & span {
    padding: calc($size * 0.125) calc($size * 0.5);
  }

  &__bg {
    content: "";
    position: absolute;
    border-radius: calc($size * 0.25);
    background-color: rgba($bgHeader, 0.4);
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.2s;
  }

  &__ru {
    transform: translate(100%);
  }
}

@keyframes logoAnim {
  0% {
    text-shadow: 0 0 0px #fff;
  }
  50% {
    text-shadow: 0 0 50px rgb(29, 141, 175), 0 0 20px rgb(164, 182, 187);
    color: #eee;
  }
  to {
    text-shadow: 0 0 0px #fff;
  }
}

@keyframes animation {
  to {
    transform: translate(0);
  }
}

@media (max-width: 800px) {
  .options {
    position: relative;

    &__title span {
      display: none;
    }

    svg {
      width: calc($size * 1.25);
      height: calc($size * 1.25);
      transition: transform 0.5s, filter 0.5s;
    }
  }
}
