@import "./../../../styles/vars";

.title {
  text-align: center;
  font-size: calc($size * 1.2);
  margin-bottom: $size;
}

.box {
  padding: calc($size);
  border-radius: calc($size * 0.2);
  background-color: rgba(82, 29, 75, 0.2);
  display: flex;
  flex-direction: column;
  gap: calc($size);
}

.label {
  font-size: calc($size * 1);
  color: $colorMain;
  font-weight: bold;
  opacity: 0.5;
}

.point {
  display: flex;
  gap: calc($size * 0.3);
  flex-direction: column;
  margin-bottom: calc($size);
}

.input {
  padding: calc($size * 0.2);
  margin-bottom: calc($size * 0.5);
  border-radius: calc($borderRad * 0.5);
  background-color: #eee;
}

.accept {
  padding: calc($size * 0.2) calc($size);
  border-radius: calc($borderRad * 0.5);
  background-color: #eee;
  transition: background-color 0.25s;

  &:hover:not([disabled]) {
    background-color: rgb(212, 212, 212);
  }

  &:disabled {
    opacity: 0.3;
  }
}
