@import "./../../../styles/vars";

.create-product {
  &__box {
    display: flex;
    gap: calc($size);
    flex-direction: column;
  }

  &__select-box {
    display: flex;
    align-items: center;
    gap: calc($size * 0.2);
  }

  &__select {
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: calc($size * 0.7);
    flex-basis: 100%;
  }

  &__select-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.1s, border-radius 0.5s;
    padding: calc($size * 0.2) calc($size * 0.5);
    border-radius: calc($size * 0.2);
    background-color: rgb(204, 167, 204);
    z-index: 11;

    &.active {
      border-radius: calc($size * 0.3) calc($size * 0.3) 0 0;
      background-color: rgb(189, 159, 189);
      // transform: translateZ(0);
    }

    &:hover {
      background-color: rgb(189, 159, 189);
    }
  }

  &__select-svg {
    width: calc($size * 0.7);
    height: calc($size * 0.7);

    & svg {
      transform: rotate(90deg);
      overflow: visible;
    }

    & path {
      width: calc($size * 0.7);
      height: calc($size * 0.7);
      fill: rgba($bgMain, 0.5);
    }
  }

  &__options {
    position: absolute;
    max-height: calc($size * 9);
    z-index: 1;
    width: 100%;
    background-color: rgb(145, 132, 145);
    border-radius: 0 0 calc($size * 0.2) calc($size * 0.2);
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__options-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc($size * 0.1) calc($size * 0.5);
    border-top: calc($size * 0.001) solid rgba(rgb(160, 160, 160), 0.3);
    cursor: pointer;
    transition: background-color 0.1s;

    &:hover {
      background-color: rgb(160, 160, 160);
    }
  }

  &__options-desc {
    font-size: calc($size * 0.5);
    font-weight: bold;
  }
}
