@import "/src/styles/vars";

.box {
  display: flex;
  flex-direction: column;
  gap: calc($size * 2);
}

.task {
  display: flex;
  gap: calc($size * 0.5);
  align-items: center;
  justify-content: space-between;
}

.form__title {
  margin-left: calc($size * 0.5);
  font-weight: bold;
  opacity: 0.7;
}
