@import "/src/styles/vars";

.progress {
  display: flex;
  flex-direction: column;
  gap: calc($size * 0.5);
  background-color: rgba($bgHeader, 0.1);
  border-radius: calc($size * 0.2);
  padding: calc($size * 0.5);
  font-size: calc($size * 0.7);
  position: relative;
  flex-basis: 40%;
  color: $colorMain;
}

.list {
  border: calc($size * 0.05) solid rgba($bgHeader, 0.1);
  border-radius: calc($size * 0.2);
  padding: calc($size * 0.5);
  display: flex;
  flex-direction: column;
  font-size: calc($size * 0.6);
  gap: calc($size * 0.25);
  min-width: calc($size * 12);

  li {
    display: flex;
    justify-content: space-between;
    gap: calc($size * 0.25);
  }
}

.property {
  display: flex;
  gap: calc($size * 0.2);
}

.value {
  opacity: 0.9;
}

.name {
  opacity: 0.5;
}

@media (max-width: 920px) {
  .progress {
    flex-basis: auto;
    width: 100%;
    font-size: calc($size * 0.5);
  }
}

@media (max-width: 480px) {
  .item {
    display: flex;
    flex-direction: column;
  }

  .list {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    font-size: calc($size * 0.5);
    gap: 0;

    & li {
      gap: unset;
    }
  }
  .property {
    padding: calc($size * 0.2);
    background-color: rgba(82, 29, 75, 0.1);
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
  }

  .value {
    display: block;
    padding: calc($size * 0.25) 0;
    text-align: center;
    font-weight: bold;
  }
}
