@import "./../../../styles/_vars";

.toolbar {
  display: flex;
  padding: calc($size * 0.1) $size;
  justify-content: space-between;
  font-size: calc($size * 0.5);
  background-color: rgba($bgMain, 0.01);
  border-radius: calc($size * 0.3);
  margin-bottom: $size;

  &__companies {
    display: flex;
    align-items: center;
    gap: $size;
  }

  &__title {
    font-size: $size;
    font-weight: bold;
  }

  &__accept {
    padding: calc($size * 0.5) calc($size * 1);
    font-size: calc($size * 0.7);
  }

  &__statistics {
    display: flex;
    align-items: center;
    gap: calc($size * 0.2);
  }

  &__list {
    display: flex;
    align-items: center;
    border-radius: calc($size * 0.1);
    overflow: hidden;
    // gap: calc($size * 0.1);
    & :nth-child(2) > button {
      border-right: calc($size * 0.01) solid rgba($bgMain, 0.1);
      border-left: calc($size * 0.01) solid rgba($bgMain, 0.1);
    }
  }

  &__item-btn {
    padding: calc($size * 0.2);
    background-color: rgba($bgMain, 0.05);
    transition: background-color 0.25s;

    &:hover {
      background-color: rgba($bgMain, 0.15);
    }
  }
}
