@import "./../../../../styles/vars";

.place {
  &__box {
    display: flex;
    flex-direction: column;
    gap: calc($size);
  }

  &__list {
    padding: calc($size * 0.5);
    border-radius: calc($size * 0.2);
    background-color: rgba($bgMain, 0.3);
    display: grid;
    gap: calc($size * 0.5);
    max-height: calc($size * 10);
    overflow-y: scroll;
    grid-template-columns: repeat(2, 1fr);
    font-size: calc($size * 0.7);

    &::-webkit-scrollbar {
      background-color: rgba($bgMain, 0.5);
      width: calc($size * 0.3);
      border-radius: calc($size * 0.2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($bgHeader, 0.5);
      border-radius: calc($size * 0.2);
    }
  }

  &__item {
    padding: calc($size * 0.5);
    border-radius: calc($size * 0.2);
    background-color: rgba($bgHeader, 0.3);
    box-shadow: 0 0 10px rgba($bgHeader, 0.3);
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 10px rgba(#eee, 0.3);
    }
  }

  &__value {
    font-weight: bold;
  }
}
